@font-face {
    font-family: "Newsreader";
    src: url("../fonts/Newsreader-VariableFont_opsz,wght.ttf");
}

.game {
    color: white;
    font: 24px "Swiss 911", Helvetica, sans-serif;
    height: 550px;
    min-height: 550px;
    min-width: 1200px;
}

.category-heading {
    background-color: #1D08A3;
    color: white;
    min-height: 90px;
    min-width: 200px;
    text-shadow: 3px 3px 1px black;
}

.small-heading {
    font-size: 20px;
}

.clue {
    background-color: #1D08A3;
    color: #FFCC00;
    font-size: 36px;
    min-width: 200px;
    text-shadow: 5px 5px black;
}

.active-clue:hover {
    background-image: radial-gradient(#FFFF00, #FFCC00);
    color: #1D08A3;
    cursor: pointer;
    text-shadow: none;
}

.current-clue-container {
    background-color: #1D08A3;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: center;
    z-index: 1000;
}

.current-clue {
    font: 70px "ITC Korinna", "Newsreader", "Times", serif;
    font-weight: 500;
    text-shadow: 5px 5px 2px black;
    word-spacing: 0.2em;
}

.progress-no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.countdown-timer {
    height: 25px;
}
