@font-face {
    font-family: "Newsreader";
    src: url("../fonts/Newsreader-VariableFont_opsz,wght.ttf");
}

@font-face {
    font-family: "Dancing Script";
    src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}

.game {
    color: white;
    font: 24px "Swiss 911", Helvetica, sans-serif;
    height: 550px;
    min-height: 550px;
    min-width: 1200px;
}

.category-heading {
    background-color: #1D08A3;
    color: white;
    min-height: 90px;
    min-width: 200px;
    text-shadow: 3px 3px 1px black;
}

.small-heading {
    font-size: 20px;
}

.clue {
    background-color: #1D08A3;
    color: #FFCC00;
    font-size: 48px;
    min-width: 200px;
    padding: 0;
    text-shadow: 5px 5px black;
}

.active-clue:hover {
    cursor: pointer;
}

.current-clue-container {
    background-color: #1D08A3;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: center;
    z-index: 1000;
}

.current-clue {
    font: 70px "ITC Korinna", "Newsreader", "Times", serif;
    font-weight: 500;
    text-shadow: 5px 5px 2px black;
    word-spacing: 0.2em;
}

.progress-no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.countdown-timer {
    height: 25px;
}

.podium-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.podium {
    border-radius: 1.25rem;
    min-width: 305px;
}

.podium-center {
    background-color: #1D08A3;
    font-weight: bold;
    min-width: 200px;
    min-height: 50px;
}

.podium-side {
    background-color: #8A482D;
    min-height: 50px;
    padding: 0;
}

.podium-left-side {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.podium-right-side {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.podium-stripe {
    background-color: white;
    margin-top: 16px;
    margin-left: 3px;
    margin-right: 3px;
    height: 5%;
}

.podium-score {
    border-bottom: 4px solid black;
}

.podium-score-negative {
    color: red;
}

.podium-name {
    font: 30px "Dancing Script", "Brush Script MT", Helvetica, sans-serif;
}
