@font-face {
    font-family: "Newsreader";
    src: url("../../fonts/Newsreader-VariableFont_opsz,wght.ttf");
}

@font-face {
    font-family: "Dancing Script";
    src: url("../../fonts/DancingScript-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Korinna";
    src: url("../../fonts/Korinna-Regular.otf");
}

@font-face {
    font-family: "Korinna Bold";
    src: url("../../fonts/Korinna_Bold_BT.ttf");
}

@font-face {
    font-family: "Square 721";
    src: url("../../fonts/Square_721_Bold_BT.woff");
}

@font-face {
    font-family: "Swiss 911";
    src: url("../../fonts/Swiss_911_Compressed.ttf");
}

@font-face {
    font-family: "Swiss 911 Extra";
    src: url("../../fonts/Swiss_911_Extra_Compressed.woff");
}

html, body {
    height: 100%;
}

#root {
    background-image: linear-gradient(to bottom right, #FFCC00, #1D08A3);
    height: 100%;
}

body {
    font: 24px Helvetica, sans-serif;
}

.hover-pointer:hover {
    cursor: pointer;
}

.bg-purple {
    background-color: #8D2AB5;
}

.game {
    color: white;
    height: 550px;
    min-height: 550px;
    min-width: 1200px;
}

.category-heading {
    background-color: #1D08A3;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    min-height: 90px;
    min-width: 200px;
    text-shadow: 3px 3px 1px black;
}

.small-heading {
    font-size: 20px;
}

.clue {
    background-color: #1D08A3;
    color: #FFCC00;
    font-family: "Swiss 911", Helvetica, sans-serif;
    font-size: 48px;
    min-width: 200px;
    padding: 0;
    text-shadow: 5px 5px black;
}

.clue-border {
    border: 10px solid #1D08A3;
}

.clue-border.active-clue:hover {
    border: 10px solid #FFCC00;
}

.current-clue-container {
    background-color: #1D08A3;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: center;
    z-index: 100;
}

.current-clue {
    font: 70px "Korinna", "Korinna Bold", "Newsreader", "Times", serif;
    font-weight: bold;
    text-shadow: 5px 5px 2px black;
    word-spacing: 0.2em;
}

.current-clue-buttons {
    bottom: 0 !important;
    left: 93% !important;
}

.current-clue-button {
    margin: 5px;
}

.current-clue-button:hover {
    font-size: 125%;
}

.progress-no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.countdown-timer {
    height: 25px;
}

.podium-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

.podium {
    border: 5px solid white;
    border-radius: 1.25rem;
    min-width: 310px;
}

.podium-center {
    background-color: #1D08A3;
    font-weight: bold;
    min-width: 200px;
    min-height: 50px;
}

.podium-side {
    background-color: #8A482D;
    min-height: 50px;
    padding: 0;
}

.podium-left-side {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.podium-right-side {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.podium-stripe {
    background-color: white;
    margin-top: 16px;
    margin-left: 3px;
    margin-right: 3px;
    height: 5%;
}

.podium-score {
    border-bottom: 4px solid black;
}

.podium-score-negative {
    color: red;
}

.podium-indicator {
    min-height: 15px;
}

.podium-indicator-active {
    background-color: white;
}

.podium-name {
    font: 30px "Dancing Script", "Brush Script MT", Helvetica, sans-serif;
}

.podium-name-active {
    background-color: white;
    color: #1D08A3;
}

.status-bar {
    min-height: 50px;
}
