{
  "admin": {
    "email": "test@example.com",
    "playerIDs": []
  },
  "db": {
    "host": "localhost",
    "port": 27017
  },
  "server": {
    "host": "localhost",
    "port": 3333
  },
  "smtp": {
    "host": "smtp.ethereal.email",
    "port": 587,
    "user": "test@example.com",
    "password": "secret"
  },
  "webapp": {
    "url": "http://localhost:3000"
  }
}