.room-code {
    font-size: 40px;
    font-weight: bolder;
}

.player-list {
    min-width: 150px;
}

.card-header {
    background-color: #1D08A3;
    color: white;
}

.empty-list {
    color: #555555;
}

.game-settings {
    border: 4px solid #1D08A3;
}

.num-rounds {
    margin: 0 30px;
    padding: 5px 50px;
}

.daily-doubles {
    margin: 0 20px;
    padding: 5px 15px;
}

.toggle-switch {
    padding-left: 3.5em;
}

.toggle-switch-disabled {
    color: #888888;
}

.game-starting {
    padding: 100px 30px;
}

.hover-blue:hover {
    color: #1D08A3;
}
